<head>
  <meta charset="UTF-8">
  <title>TECH BLOG</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="flex column">
      <h1>TECH BLOG</h1>
      <nav class="display-flex justify-space-between align-center p-2">
        <a href="/"<button class="btn btn-primary" type="submit">HOME</button></a>
        <a href="/dashboard" <button class="btn btn-primary" type="submit">DASHBOARD</button></a>
      {{#if loggedIn}}
      <button id="logout" class="btn btn-primary">LOGOUT</button>
      {{else}}
      <a href="/login"><button id="logout" class="btn btn-primary">LOGIN</button></a>
      {{/if}}
      </nav>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
      <footer class="container container-fluid mt-5">
        <p class="flex-row justify-content-end">Created by WGT</p>
      </footer>
  </div>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>